.model-container {
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 6px 25px #a5a5a5;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  
  .model-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .model-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .model-info h2 {
    font-size: 2rem;
    color: #00bfff;
  }
  
  .model-info p {
    font-size: 1rem;

  }
  
  .model-message-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00bfff;
    color: #1c1f24;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .model-message-btn:hover {
    background-color: #0099cc;
  }
  