/* startupsPage.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a; /* Темный фон */
    color: #fff; /* Белый текст */
  }
  
  .cards-page {
    padding: 40px;
    background-color: #1d1d1d;
  }
  
  .cards-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    gap: 60px;
  }
  
  .cards-tile {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .cards-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: #444;
  }
  
  .cards-info {
    margin-top: 15px;
  }
  
  .cards-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .cards-info p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .investment {
    font-size: 16px;
    color: #0066cc;
  }
  
  .price {
    display: block;
  font-size: 1rem;
  color: #f0f0f0;
  margin-top: 10px;
  font-weight: bold;
  }