body{
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
.cards-pages{
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cards-pages .cards{
  display: flex;
}